
<% if @signin == "1" %>
	<h3 class="text-center">签到</h3>
<% end %>
<h4 class="text-center">请输入您的手机和姓名</h4>
<hr>
<div class="center-block" style="width:200px;">
	<%= simple_form_for @user, :html => { :class => 'form-horizontal' }, method: :post, url: { signin: @signin || 0, controller: 'user', action: 'do_enroll' }, wrapper: :enroll_form do |f| %>
		<%= f.input :mobile, :as => :tel, required: true, autofocus: true, placeholder: '请输入手机号' %>
		<%= f.input :name, required: true, placeholder: '请输入姓名' %>
		<%= f.input :class_name, required: true, as: :semantic_ui_radio_buttons, collection: [['儿科', 'E'], ['五大', 'W']], :wrapper => :fine_radiobox, :label => '请选择班级' %>
		<div class="form-actions text-center">
			<%= f.submit '提交', :disable_with => '提交中...', :class => 'btn btn-primary' %>
		</div>
	<% end %>
</div>