<script src="http://s1.bdstatic.com/r/www/cache/ecom/esl/1-6-10/esl.js"></script>
<div class="row text-center"><h2>投票结果</h2></div>
<hr>
<div class="row">
    <%= 4.times do |index| %>
        <div class="col-xs-3">
            <div id="chart<%= index + 1 %>" style="height:200px"></div>
        </div>
    <% end %>
</div>
<div class="row">
    <%= 4.times do |index| %>
        <div class="col-xs-3">
            <div id="chart<%= index + 5 %>" style="height:200px"></div>
        </div>
    <% end %>
</div>
<script type="text/javascript">
    // 路径配置
    require.config({
        paths:{ 
            'echarts' : 'http://echarts.baidu.com/build/echarts',
            'echarts/chart/bar' : 'http://echarts.baidu.com/build/echarts',
            'echarts/chart/pie' : 'http://echarts.baidu.com/build/echarts'
        }
    });

    // 使用
    require(
        [
            'echarts',
            'echarts/chart/bar', // 使用柱状图就加载bar模块，按需加载
            'echarts/chart/pie'
        ],
        function (ec) {

            <% if !@top10_candidates.blank? %>
              <% @top10_candidates.each_with_index do |item, index| %>
                // 基于准备好的dom，初始化echarts图表
                var chart<%= index + 1 %> = ec.init(document.getElementById('chart<%= index + 1 %>')); 
                var option<%= index + 1 %> = {
                    title: {
                        text: 'A班 | 第<%= index + 1 %>轮',
                        subtext: 'XXX胜出',
                        x:'center'
                    },
                    series : [
                        {
                            name:'得票数',
                            type:'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data: <%= item.to_json.html_safe %>
                        }
                    ]
                };
                // 为echarts对象加载数据 
                chart<%= index + 1 %>.setOption(option<%= index + 1 %>); 
              <% end %>
            <% else %>
              
            <% end %>
        }
    );
    
</script>